h1 {
    font-family: Helvetica;
}
body {
    overflow: hidden;
    text-align: center;
    /* aligning the grid container in the center:*/
    width:480px;
    margin-left:auto;
    margin-right:auto;
}
.grid {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    /* 480 = sum(number, point_container, nested) */
    width: 480px;
}
.grid > div {
    border-radius: 20px;
    border: 1px solid black;
}
.point_container {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    width: 190px;
    gap: 5px;
    background-color:beige;
}

.empty_point {
    border: solid 1px grey;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.fill_point {
    border: solid 1px grey;
    background-color: black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.nested {
    display: grid;
    grid-template-columns: 100px;
    width: 100px;
    border: 1px solid black;
    justify-self: left;
    gap: 5px;
}
.nested > div {
    border-radius: 20px;
    border: 1px solid black;
}

#number{
    align-self: center;
    justify-self: right;
    font-size: 124pt;
    font-family: Helvetica;
    width: 100px;
}

#correct{
    background: rgb(198, 231, 198);
}

#wrong{
    background: rgb(250, 214, 214);
}

.arrow {
    font-size: 40px;
}