h1 {
    color: #4c4c4c; font-family: 'Lato', sans-serif; font-size: 40px; font-weight: 200; line-height: 58px; margin: 0 0 20px;
}
body {
    overflow: hidden;
    text-align: center;
    /* aligning the grid container in the center:*/
    width:480px;
    margin-left:auto;
    margin-right:auto;
    /* background-color: #ED6160;*/
    background-color: rgb(242, 242, 242);
}
.grid {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    /* 480 = sum(number, point_container, nested) */
    width: 480px;
}
.grid > div {
    border-radius: 20px;
    border: 7px solid white;
    font-family: 'Lato', sans-serif;;
    background-color: rgb(255, 246, 229);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.point_container {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    width: 190px;
    gap: 5px;
}

.empty_point {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.fill_point {
    background-color:cadetblue;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.arrow_container {
    display: grid;
    grid-template-columns: 100px;
    width: 100px;
    border: 1px solid black;
    justify-self: left;
    gap: 5px;
}
.arrow_container > div {
    border-radius: 20px;
}

#number{
    align-self: center;
    justify-self: right;
    font-size: 124pt;
    font-family: 'Lato', sans-serif;
    width: 100px;
}

#correct{
    background: rgb(198, 231, 198);
}

#wrong{
    background: rgb(250, 214, 214);
}

/* --- arrows --- */
.arrow {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
[class^=arr-]{
    border:       solid currentColor;
    border-width: 0 .1em .1em 0;
    display:      inline-block;
    padding:      .20em;
  }
.arr-up {
    transform:rotate(-135deg);
    color: rgb(107, 148, 107);
}
.arr-down {
    transform:rotate(45deg);
    color: rgb(166, 123, 123);
}